h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
    font-size: 60px;
    color: rgb(0, 123, 255);
    padding: 30px 0px 0px 0px;
    text-align: center;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#couch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#bunny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#cup {
    left: 20px;
    top: 40px;
    height: 360px;
    width: 100px;
    background: blue;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}

#liquid {
    transition: height 1s;
    left: 0px;
    bottom: 0px;
    height: 360px;
    width: 100px;
    background: white;
}

button, button:visited {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
    font-size: 100%;
    width: 50%;
    height: 100%;
    background-color: #0084ff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    margin: 20px;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

button:active {
    background-color: rgb(0, 4, 255);
}
