body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-size: 60px;
    color: rgb(0, 123, 255);
    padding: 30px 0px 0px 0px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#couch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#bunny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#cup {
    left: 20px;
    top: 40px;
    height: 360px;
    width: 100px;
    background: blue;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}

#liquid {
    transition: height 1s;
    left: 0px;
    bottom: 0px;
    height: 360px;
    width: 100px;
    background: white;
}

button, button:visited {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    width: 50%;
    height: 100%;
    background-color: #99daff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    margin: 20px;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

button:active {
    background-color: rgb(0, 4, 255);
}


.nav-list {
    display: flex;
    list-style: none;
}


#sleep-btn {
    position: fixed;
    margin-right: 0px;
    right: 16px;
}

  











.round-btn {
    height: 16vh;
    width: 16vh;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0 2em;
    background-color: pink;
}

.round-btn.text {
    font-size: 1vw;
}

.round-btn:hover {
    cursor: pointer;
    background-color: rgb(245, 162, 176);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    height: 40vh;
    width: 60vw; 
}

#profile-text{
    font-size: 3vw;
    padding: 0px;
    margin: 0px;
}

#profile-text:hover {
    cursor: default;
}

.profile-content {
    align-items: center;
    height: 60%;
    width: 80%;
}

#name-input{
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 2%;
    font-size: 2vw;
}


.modal-content {
    align-items: center;
}

.submit-btn {
    border-radius: 50%;
    height: 8vh;
    width: 8vw;
    background: #c8b9ff;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

#bunny-name {
    font-size: 4vh;
}

.submit-btn:hover {
    background: #6501bc;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    cursor: pointer;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clock-container{
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightpink;
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(216, 126, 204, 0.444);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    font-size: 3vw;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.quote-container {
    width: 42vw;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }

    #couch {
        display: none;
    }
  }