/* Set font for body text */
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: lightblue;
}

/* Set style for header 1 */
h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 60px;
    color: rgb(0, 123, 255);
    padding: 30px 0px 0px 0px;
    text-align: center;
}

/* Set style for header 2 */
h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* Create column */
.column {
    float: left;
    width: 25%;
}

/* Create row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Sizing for couch image */
#couch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Sizing for bunny image */
#bunny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Sizing and color for cup */
#cup {
    left: 20px;
    top: 40px;
    height: 360px;
    width: 100px;
    background: #a7bbf5;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}

/* Transition and color for liquid */
#liquid {
    transition: height 1s;
    left: 0px;
    bottom: 0px;
    height: 360px;
    width: 100px;
    background: white;
}

/* Button style */
button, button:visited {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
    font-size: 100%;
    width: 50%;
    height: 100%;
    background-color: #99daff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    margin: 20px;
}

/* Change color of button when hovering */
button:hover {
    background-color: #66a8ce;
}

/* Layout for nav list */
.nav-list {
    display: flex;
    list-style: none;
}

/* Layout for sleep button */
#sleep-btn {
    position: fixed;
    margin-right: 0px;
    right: 16px;
}

/* Style for round button */
.round-btn {
    height: 16vh;
    width: 16vh;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0 2em;
    background-color: pink;
}

/* Text for round button */
.round-btn.text {
    font-size: 1vw;
}

/* Change color of round button when hovering */
.round-btn:hover {
    cursor: pointer;
    background-color: rgb(245, 162, 176);
}

/* Modal style */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Layout of popup */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    /* border: 1px solid #888; */
    height: 56vh;
    width: 60vw; 
}

/* Layout for  */
#profile-text{
    font-size: 3vw;
    padding: 0px;
    margin: 0px;
}

/* Reverts cursor to default */
#profile-text:hover {
    cursor: default;
}

/* Layout for profile content */
.profile-content {
    align-items: center;
    height: 60%;
    width: 80%;
}

/* Layout for the name input */
#name-input{
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 2%;
    font-size: 2vw;
}

/* Center the popup */
.modal-content {
    align-items: center;
}

/* Style for submit button */
.submit-btn {
    border-radius: 50%;
    height: 8vh;
    width: 8vw;
    background: #c8b9ff;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

/* Text size for bunny name */
#bunny-name {
    font-size: 4vh;
}

/* Change color of submit button when hovering */
.submit-btn:hover {
    background: #6501bc;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    cursor: pointer;
}

/* Layout for close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Layout for when hovering over close button */
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for box around clock */
.clock-container{
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightpink;
}

/* Style for the clock istelf */
.clock{
    width: 100%;
    height: 100%;
    background: rgba(216, 126, 204, 0.444);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* More styling for clock */
.clock span{
    font-size: 3vw;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: relative;
}

/* Style for quotes */
.quote-container {
    width: 42vw;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Bunny name style */
.bun-name {
    width: 26vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 20px; */
}

  @media only screen and (max-width: 768px){
    /* body {
      background-color: lightblue;
    } */
    #couch {
        display: none;
    }
  }

/* changes cursor to default when hovering over text in the profile modal */
.prof-text:hover {
    cursor: default;
}